@import url('https://fonts.googleapis.com/css?family=Roboto');

html,body {
	width:100%;
	height:100%;
	margin:0; padding:0;
}
body {
	font-family:'Roboto';
}
h1,h2,h3,h4 {margin:0;padding:0;}

header {
	padding:40px;
	width:100vw;
}
.box {
	padding:20px;
	margin:50px 0 0 50px;
	background:#F2F2F2;
	border-radius:5px;
	float:left;
	font-size:13px;
}
.box.view {
	width:560px;
	padding-bottom:550px;
}
h4 {
	font-size:17px;
	margin:0 0 25px 0; padding:0;
}
button {
	font-family:'Roboto';
	font-size:12px;
	padding:8px;
	border:none;
	background:#e0e0e0;
	margin:10px;
	border-radius:4px;
}
button#reset {
	display:none;
}
button:hover { background:#DBDBDB; }

.box button {
	background:#ffffff;
}
.dir#cw, .dir#ccw {
	background:#D0DBD2;
}
.dir#log {
    background:#98AFC7;
}
#view:after {
	content:"";
}

#data {
      background:#000000;
      color:white;
      border:1px solid gray;
      margin:50px 0 0 10vw;
      overflow:scroll;
      border-radius:10px;
      font-family:Consolas, monospace;
      padding:10px;
      font-size:12px;
    }
    #run {
      background:white;
      padding:10px;
      font-family:Consolas, monospace;
    }