/* GlOBAL */
.box{
    margin: 1vh;
    background:lightgrey;
    padding: 1vh;
}

.slightly_larger_text{
    size: 5em;
}

/* NAVBAR */
.navbar {
    width: 100vw;
    height: 8vh;
    size: 5em;
    background: #323232;
    color: white;
}

.logo {
    height: 7vh;
    width: 7vh;
    padding:0.5vh;
}

table{
    text-align:center;
}

/*SETUP TAB*/
#setuptab {

}

#view {
    min-height: 40vw;
}

#addbot{

}

#scenarios{
    min-height: 80vh;
}
/*CONTROL TAB*/
#controltab {

}

#controlpanel {

}

#python{
    height: 80vh;
}

#blockly{
    height: 80vh;
}

.controlgrid{
    padding:10px;
}

#data{
    background: #000000;
    color: white;
    border: 1px solid gray;
    overflow:scroll;
    font-family:Consolas, monospace;
    padding:10px;
    font-size:12px;
    width:100%;
    height:60vh;
}

/* REACT TABS */
.react-tabs__tab-list {
    border-bottom: 1px solid #aaa;
    margin: 0 0 10px;
    padding: 0;
}

.react-tabs__tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
}

.react-tabs__tab--selected {
    background: #fff;
    border-color: #aaa;
    color: black;
    border-radius: 5px 5px 0 0;
}

.react-tabs__tab-panel {
    display: none;
}

.react-tabs__tab-panel--selected {
    display: block;
}

.react-tabs__tab--disabled {
    color: GrayText;
    cursor: default;
}

.react-tabs__tab:focus {
    box-shadow: 0 0 5px hsl(208, 99%, 50%);
    border-color: hsl(208, 99%, 50%);
    outline: none;
}

.react-tabs__tab:focus:after {
    content: "";
    position: absolute;
    height: 5px;
    left: -4px;
    right: -4px;
    bottom: -5px;
    background: #fff;
}
/* TOGGLE SWITCH */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lightcoral;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: lightgreen;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
